{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<style>
tr{text-align : centre} 
</style>
<marquee direction="left" scrollamount="20" style = "font-family : 'Monotype corsiva' ; font-size : 35px ; color : orange ; background-color :black ; font-weight : bold  ; margin-top : 1% ;">
    Apply For Job
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-row">
        <label class="font-weight-bold">Upload Your Resume</label>
        <input type="file" class="form-control" name="resume" >
      </div>
      <input type="submit" value="submit" class="btn btn-success">
    </form>
    </div>
    {% if error == "close" %}
    <script>
      alert("Sorry you are late (application closed)");
      window.location = ('{% url 'user_latestjobs' %}')
    </script>
    {% endif %}

    {% if error == "notopen" %}
    <script>
      alert("Not open yet");
      window.location = ('{% url 'user_latestjobs' %}')
    </script>
    {% endif %}

    {% if error == "done" %}
    <script>
      alert("Applied successfully");
      window.location = ('{% url 'user_latestjobs' %}')
    </script>
    {% endif %}
{% endblock %}