{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<marquee direction="left" scrollamount="20" style = "font-family : 'Monotype corsiva' ; font-size : 35px ; color : orange ; background-color :black ; font-weight : bold  ; margin-top : 1% ;">
    Change Company Logo
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-12">
        <label style="font-weight: bold;">Job Role</label>
        <input type="text" class="form-control" readonly name="jobtitle" value="{{job.title}}" required>
      <div class="form-group col-md-12">
        <img src="{{job.image.url}}" width="120" height="90">
        </div>
      <div class="form-group col-md-12">
        <label style="font-weight: bold;">Company logo</label>
        <input type="file" class="form-control" name="logo" required>
      </div>
    </div>
</div>
    <input type="submit" class="btn btn-primary" style="margin-top : 2%; color : yellow ; background-color : black ; font-weight : bold  ; font-size : 20px ;">
</form>
{% if error == "no" %}
<script>
  alert("Company Logo Has Been updated");
  window.location = ('{% url 'change_companylogo' job.id  %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert("Inavalid Login Credentials");
</script>
{% endif %}


{% endblock %}