{% load static %}

{% block body %}

{% include 'navigation.html' %}

<script>
  function checkpass()
  {
    if(document.signup.pwd.value!=document.signup.cpwd.value)
  {
    alert('Password Does Not Match');
    document.signup.cpwd.focus();
    return false;
  }
    return true;
  }
</script>


<marquee direction="right" scrollamount="20" style = "font-family : 'Monotype corsiva' ; font-size : 35px ; color : orange ; background-color :black ; font-weight : bold  ; margin-top : 1% ;">
    Recruiter Sign UP Details
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label style="font-weight: bold;">First Name</label>
        <input type="text" class="form-control" name="fname" placeholder="Enter first name" required>
      </div>
      <div class="form-group col-md-6">
        <label style="font-weight: bold;">Last Name</label>
        <input type="text" class="form-control" name="lname" placeholder="Enter last name" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight: bold;">Contact</label>
            <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" required>
          </div>
      <div class="form-group col-md-6">
        <label style="font-weight: bold;">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Your Email" required>
      </div>
      <div class="form-group col-md-12">
        <label style="font-weight: bold;">Company</label>
        <input type="text" class="form-control" name="company" placeholder="Enter Your Company Name" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label style="font-weight: bold;">Create Password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password" required>
            <div class="input-group-append">
              <span class="input-group-text">
                <input type="checkbox" onclick="togglePasswordVisibility('pwd')">
                Show
              </span>            
            </div>
          </div>
        </div>
        <div>
          <label style="font-weight: bold;">Confirm Password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="cpwd" name="cpwd" placeholder="Confirm password" required>
            <div class="input-group-append">
              <span class="input-group-text">
                <input type="checkbox" onclick="togglePasswordVisibility('cpwd')">
                Show
              </span>
            </div>
          </div>
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label style="font-weight: bold;">Gender</label>
        <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
            <label class="custom-control-label" for="customRadioInline1">Male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
            <label class="custom-control-label" for="customRadioInline2">Female</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="gender" class="custom-control-input" value="Others">
            <label class="custom-control-label" for="customRadioInline3">Others</label>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" style="margin-top : 2%; color : yellow ; background-color : black ; font-weight : bold  ; font-size : 20px ;">
</form>

<script>
  function togglePasswordVisibility(id) {
    var passwordField = document.getElementById(id);
    if (passwordField.type === "password") {
      passwordField.type = "text";
    } else {
      passwordField.type = "password";
    }
  }
  </script>
{% if error == "no" %}
<script>
  alert("Signup Successful");
  window.location = ('{% url 'recruiter' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert("Inavalid Login Credentials");
</script>
{% endif %}
{% endblock %}