{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<script>
  function checkpass()
  {
    if(document.signup.pwd.value!=document.signup.cpwd.value)
  {
    alert('Password Does Not Match');
    document.signup.cpwd.focus();
    return false;
  }
    return true;
  }
</script>


<marquee direction="right" scrollamount="20" style = "font-family : 'Monotype corsiva' ; font-size : 35px ; color : orange ; background-color :black ; font-weight : bold  ; margin-top : 1% ;">
    Edit Recruiter Details
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label style="font-weight: bold;">First Name</label>
        <input type="text" class="form-control" name="fname" placeholder="Enter first name" value="{{recruiter.user.first_name}}" required>
      </div>
      <div class="form-group col-md-6">
        <label style="font-weight: bold;">Last Name</label>
        <input type="text" class="form-control" name="lname" placeholder="Enter last name" value="{{recruiter.user.last_name}}" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight: bold;">Contact</label>
            <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" value="{{recruiter.mobile}}" required>
          </div>
      <div class="form-group col-md-6">
        <label style="font-weight: bold;">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Your Email" value="{{recruiter.user.username}}"readonly  required>
      </div>
      <div class="form-group col-md-12">
        <label style="font-weight: bold;">Company</label>
        <input type="text" class="form-control" name="company" placeholder="Enter Your Company Name" value="{{recruiter.company}}" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label style="font-weight: bold;">Gender</label>
          {% if gender == "Male" %}
            <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1_male" name="gender" class="custom-control-input" value="Male" {% if recruiter.gender == 'Male' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline1_male">Male</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2_female" name="gender" class="custom-control-input" value="Female" {% if recruiter.gender == 'Female' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline2_female">Female</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3_others" name="gender" class="custom-control-input" value="Others" {% if recruiter.gender == 'Others' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline3_others">Others</label>
              </div>
            </div>
          {% elif gender == "Female" %}
            <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1_male" name="gender" class="custom-control-input" value="Male" {% if recruiter.gender == 'Male' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline1_male">Male</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2_female" name="gender" class="custom-control-input" value="Female" {% if recruiter.gender == 'Female' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline2_female">Female</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3_others" name="gender" class="custom-control-input" value="Others" {% if recruiter.gender == 'Others' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline3_others">Others</label>
              </div>
            </div>
            {% else %}
            <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px;">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1_male" name="gender" class="custom-control-input" value="Male" {% if recruiter.gender == 'Male' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline1_male">Male</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2_female" name="gender" class="custom-control-input" value="Female" {% if recruiter.gender == 'Female' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline2_female">Female</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline3_others" name="gender" class="custom-control-input" value="Others" {% if recruiter.gender == 'Others' %} checked {% endif %}>
                <label class="custom-control-label" for="customRadioInline3_others">Others</label>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" style="margin-top : 2%; color : yellow ; background-color : black ; font-weight : bold  ; font-size : 20px ;">
            {% endif %}
        </div>
      <div class="form-group col-md-6">
        <label>Image</label>
        <input type="file" class="form-control" name="image" accept="image/*">
      </div>
    </div>
    
    </form>
    <img src="{{recruiter.image.url}}" width="300px" height="300px" style="border-radius: 200px;">

{% if error == "no" %}
<script>
  alert("Profile Updated Successfully");
  window.location = ('{% url 'recruiter_home' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert("Inavalid Login Credentials");
</script>
{% endif %}


{% endblock %}